@import '../main-constant'


.footer-wrap
  padding: 20px 15px


.list-categories-footer
  padding: 15px 0px
  border-bottom: 1px solid $light-grey
  & > li
    margin-right: 70px
  & > li > ul
    padding-top: 15px
    & > li
      padding: 5px 0px



.title-list-cat
  & > p
    font-weight: 600


.categories-list-bot
  & > li
    & > a
      color: $main-color
      border-right: 1px solid $main-color
      padding: 0px 10px
      font-size: .9rem
