@import '../main-constant'

.wrap-subscribe-form
  background-color: $main-color
  padding: 35px 15px
  &  div:first-child > p
    color: $main-second-color
    font-size: 1.4rem
  & div:last-child
    & form
      & input
        height: 50px
    & button
      background-color: $main-second-color
      color: $main-color
      font-weight: 600
      border: none
      outline: none
      box-shadow: none

