@import '../main-constant'

.nav-bar
  background-color: $main-color
  &:first-child
    border-bottom: 1px solid rgba(255,255,255,.6)
  & .icon-brand
    width: 150px
    & img
      width: 100%
      height: 100%
      object-fit: contain
  & .form-search-nav
    & button
      right: 20px
      background-color: transparent
      color: $main-color
      border: none
      outline: none
      box-shadow: none
  & .top-nav-link
    & a
      color: $white-color!important
      border-right: 1px solid $white-color
      margin: 0px 10px 0px 0px
      transition: all .4s ease
      &:hover
        color: #fff!important
      &:last-child
        border-right: none
      & > span
        padding-left: 10px
  & .toggle-button
    border: none
    outline: none
    & > span
      background-image: url("/icons/menu.svg")


.md-link
  color: $white-color!important
  margin: 0px 10px 0px 0px
  transition: all .4s ease
  &:hover
    color: #fff!important
  & > svg
    width: 25px
    height: 25px


.nav-bar
  & a
    color: $white-color!important
    margin: 0px 10px 0px 0px
    transition: all .4s ease
    &:hover
      color: #fff!important
  & svg
    width: 25px
    height: 25px
    align-self: center
    fill: $white-color
    transition: all .4s ease



.dropdown-link-title
  & > div
    width: 300px
    top: 120%
    border-radius: 0
    padding: 5px 10px
    & .nav-link
      margin: 0
      display: block
      padding: 7px 15px
      border-bottom: 1px solid $light-grey
      color: $blue!important
      &:hover
        color: $blue!important
      &:last-child
        border: none
  & > button
    color: #fff
    font-weight: 500
    background-color: transparent!important
    border: none!important
    outline: none!important
    box-shadow: none!important
    &:first-child
      padding-left: 0


  & .drop-down-sub
    & > div
      width: 300px
      border-radius: 0
      padding: 5px 10px
      left: 104%
    & button
      border-bottom: 1px solid $light-grey!important
      border-right: none
      border-left: none
      border-top: none
      width: 100%
      background-color: transparent!important
      outline: none!important
      box-shadow: none!important
      color: $blue!important
      text-align: left
      border-radius: 0
      &:after
        display: inline-block
        margin-left: .255em
        vertical-align: .255em
        content: ""
        border: none
        position: absolute
        right: 10px
        top: 10px
        width: 20px
        height: 20px
        background-image: url("/icons/ios-arrow-right-blue.svg")
        background-size: contain
    &  a
      margin: 0
      border-bottom: 1px solid $light-grey
      display: block
      padding: 7px 15px
      color: $blue!important
      &:hover
        color: $blue!important
      &:last-child
        border: none!important


.rgt-link
  & > div
    &:hover svg
      fill: #fff
    & > div
      & button
        background-color: transparent!important
        border: none
        font-size: .9rem
        font-weight: 400
        color: $light-grey
        box-shadow: none!important
        outline: none
      & > svg
        fill: $light-grey
        width: 20px
        height: 20px
        align-self: center
        transition: all .4s ease


.sub-menu-collapse
  &.show
    transition: all .2s ease
    transform: translate(0px, 0px)
  &.hide
    transform: translate(1000px, 0px)
  top: 0
  width: 100%
  padding: 15px 0px
  & > div:first-child
    padding-bottom: 5px
    & button
      border: none
      outline: none
      background-color: transparent!important
      font-size: 1.1rem
      font-weight: 600
      color: #fff
      &:before
        content: ""
        display: inline-block
        width: 20px
        height: 20px
        background-image: url(/icons/ios-arrow-left.svg)
        background-size: contain
        vertical-align: middle
  & > div:last-child
    & > div
      padding: 5px 0px
      & button
        outline: none
        background-color: transparent!important
        color: #fff
        border: 1px solid #fff
        width: 100%
        text-align: left
        &:after
          display: inline-block
          margin-left: .255em
          vertical-align: .255em
          content: ""
          border: none
          position: absolute
          right: 10px
          top: 10px
          width: 20px
          height: 20px
          background-image: url("/icons/ios-arrow-right.svg")
          background-size: contain
    & > a
      padding: 6px 15px
      color: #fff!important
      font-size: 1rem
      display: block
      width: 100%
      border: 1px solid #fff
      border-radius: 4px
      margin: 5px 0px





@media screen and (max-width: 992px)
  .dropdown-link-title
    padding: 5px 0px
    & > button
      width: 100%
      text-align: left
      border: 1px solid!important
      padding: 10px 15px!important
      border-radius: 5px
      &:after
        display: inline-block
        margin-left: .255em
        vertical-align: middle
        content: ""
        border: none
        position: absolute
        right: 10px
        width: 20px
        height: 20px
        background-image: url("/icons/ios-arrow-right-blue.svg")
        background-size: contain
  .rgt-link
    & > div
      & > div
        padding: 5px 0px
        width: 100%
        & button
          border: 1px solid!important
          padding: 10px 15px!important
          border-radius: 5px
          text-align: left
          width: 100%
          color: #fff
          font-size: 1rem
          &:after
            content: ""
            border: none
  .collapse-navbar
    & .nav-bar
      padding-left: 0
  .top-nav-link
    & a
      border-right: none!important
  .dropdown-link-title
    & > div
      display: none!important
  .nav-bar:first-child
    border-bottom: none
  .nav-bar:last-child
    overflow: hidden



