@import '../../main-constant'


.container-products
  & h1
    color: #000
  & .bread-crumbs
    display: flex
    margin-top: 50px
    padding: 10px 0px
    border-top: 1px solid $light-grey
    & > p
      padding-right: 10px
      &:after
        content: ""
        display: inline-block
        width: 20px
        vertical-align: middle
        height: 20px
        margin-left: 5px
        background-image: url(/icons/ios-arrow-right-blue.svg)
        background-size: contain
      &:last-child:after
        content: ""
        display: none
      & > a
        color: $blue!important
        &:hover
          color: $main-color!important
          text-decoration: underline!important


.wrap-product-list
  & .filters-products
    position: sticky
    border: 1px solid $light-grey
    & .sticky-container
      height: calc(100vh - 14px)
  & .products-list-container
    & .top-content-products
      & > p
        font-size: 1.1rem
      & .dropdown-filters
        & > div
          padding: 15px
          & a
            color: $main-color
            &:hover
              color: $blue
              text-decoration: underline!important
        & button
          background-color: transparent
          color: $main-color
          border: 1px solid $main-color
          outline: none
          box-shadow: none!important
          width: 200px
          text-align: left
          &:after
            content: ''
            width: 30px
            height: 30px
            position: absolute
            right: 15px
            top: 5px
            border: none
            background-image: url("/icons/ios-arrow-right-blue.svg")
            background-size: contain
            transform: rotate(90deg)
    & .picture-product
      & img
        width: 100%
        height: 100%
        object-fit: contain
    & .info-product
      & .buttons-product
        & svg
          width: 30px
          height: 30px
        &.active
          & svg
            & g
              fill: $main-second-color
        & p
          font-size: 1.1rem
          align-self: center
          padding-left: 10px
        & .button-compare, & .button-save
          cursor: pointer
          margin-right: 20px



