@import 'main-constant'
@import 'fonts'


html,
body
  font-family: $font-stack


a
  text-decoration: none!important

ul
  list-style: none!important

button
  outline: none!important

h1, h2, h3, h4
  font-weight: 600


*
  box-sizing: border-box
  padding: 0
  margin: 0


#carousel-product
  & .slick-slider
    overflow: hidden
    & .slick-slide
      padding: 10px



#carousel-home
  height: 100%
  & .slick-slider
    height: 100%
    overflow: hidden
    border-radius: 10px
    & .slick-list
      height: 100%
      & .slick-track
        height: 100%
        & .slick-slide
          height: 100%
        & .slick-slide:nth-child(1)
          background-color: #1ef7a0
        & .slick-slide:nth-child(2)
          background-color: #1189e7
        & .slick-slide:nth-child(3)
          background-color: #b40001
        & .slick-slide:nth-child(4)
          background-color: purple
        & .slick-slide:nth-child(5)
          background-color: yellowgreen
        & .slick-slide:nth-child(6)
          background-color: green
        & .slick-slide:last-child
          background-color: #006d80

.slick-track
  display: flex